.DS_Store
build/tools
coverage
dist
node_modules
test/comp.test.js
test/elem.test.js
test/event.test.js
test/prop.test.js
test/example/counter.js
test/example/dist
tools/*/esbuild.js
tools/*/webpack.js
*.map
